.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin: 15px;
}
.panel{
    background-color: #fff;
    border-radius: 10px;
    max-width: 500px;
    margin: 5px auto;
    padding: 20px;
}
main h1{
    text-align: center;
}
.panel button{
    padding: 6px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 100%;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.3s ease;
}
.panel button:hover{
    background-color: rgb(3, 3, 144);
    border-radius: 10px;
}

.panel img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 15px 0;
    transition: 0.3s ease;
}
.panel img:hover{
    border-radius: 10px;
}
.more{
    text-align: center;
}
.more a{
    text-decoration: none;
    font-weight: bold;
}
.more a:hover{
    text-decoration: underline;
}

.opis{
    margin: 10px 0;
}

header{
    text-align: center;
}
