main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.komunikat{
    text-align: center;
}

a {
    margin: 0 10px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.logoutbutton{
    padding: 6px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 12vw;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.3s ease;
}
.logoutbutton:hover{
    background-color: rgb(3, 3, 144);
    border-radius: 10px;
}

.zobaczRezerw{
    font-weight: bold;
    margin: 10px 0 0 0;
}
