.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    margin: 15px;
}
.panelRezerwacji{
    background-color: #fff;
    border-radius: 10px;    
    max-width: 500px;
    margin: 5px auto;
    padding: 20px;
}

.panelRezerwacji button{
    padding: 6px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    width: 100%;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.3s ease;
}
.panelRezerwacji button:hover{
    background-color: rgb(3, 3, 144);
    border-radius: 10px;
}

.panelRezerwacji img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 15px 0;
    transition: 0.3s ease;
}
.panelRezerwacji img:hover{
    border-radius: 10px;
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.empty a{
    font-weight: bold;
    text-decoration: none;
}

.empty a:hover{
    text-decoration: underline;
}

main h1 {
    text-align: center;
}
